# Copy to poc.env. poc.env is ignored by Git.
TALOS_CLUSTER_NAME=talos-green-poc
TALOS_VERSION=v1.13.9
KUBERNETES_VERSION=1.35.7
SCHEMATIC_ID=376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
TALOS_ENDPOINT=https://192.168.20.137:6443
TALOS_INSTALL_DISK=/dev/sda
