[Unit]
Description=Filtered BlueZ D-Bus proxy for Loockit LXC
After=dbus.service bluetooth.service
Requires=dbus.service bluetooth.service

[Service]
Type=simple
RuntimeDirectory=loockit-dbus
RuntimeDirectoryMode=0755
ExecStartPre=/bin/rm -f /run/loockit-dbus/system_bus_socket
ExecStart=/usr/bin/xdg-dbus-proxy unix:path=/run/dbus/system_bus_socket /run/loockit-dbus/system_bus_socket --filter --talk=org.bluez --talk=org.freedesktop.DBus
ExecStartPost=/bin/sh -c 'while [ ! -S /run/loockit-dbus/system_bus_socket ]; do sleep 0.1; done; chmod 0666 /run/loockit-dbus/system_bus_socket'
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
