[defaults]
inventory = hosts/prd
roles_path = roles
verbosity = 1
stdout_callback = ansible.posix.debug
host_key_checking = False
# DietPi など python3 のパスが環境依存なので自動検出に任せる。
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
