TUYA_DEVICE_ID={{ tuya_light_sensor_device_id }}
TUYA_LOCAL_KEY={{ tuya_light_sensor_local_key }}
TUYA_DEVICE_IP={{ tuya_light_sensor_ip }}
TUYA_VERSION={{ tuya_light_sensor_version }}
TUYA_LUX_DPS={{ tuya_light_sensor_lux_dps }}
TUYA_LUX_SCALE={{ tuya_light_sensor_lux_scale }}
POLL_INTERVAL={{ tuya_light_sensor_poll_interval }}
DISPLAY_OFF_BELOW_LUX={{ tuya_light_sensor_display_off_below_lux }}
DISPLAY_ON_ABOVE_LUX={{ tuya_light_sensor_display_on_above_lux }}
REQUIRED_SAMPLES={{ tuya_light_sensor_required_samples }}
KIOSK_URL={{ kiosk_url | to_json }}
